@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=JetBrains+Mono:wght@700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}